menu "EDIT HERE: Zeitmessanlage configuration"
    config LORA_STATION_ID
        int "lora_station_id"
        range 0 255
        default 2
        help
            Numeric station id used by LoRa communications. Must be an integer
            between 0 and 255. This value will be available in code as
            CONFIG_LORA_STATION_ID.
endmenu